<%= form_for @restaurant do |f| %>

<% if @restaurant.errors.any? %>
  <% @restaurant.errors.full_messages. each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    
    <%= f.label :street %><br>
    <%= f.text_field :street %><br>
    
    <%= f.label :city %><br>
    <%= f.text_field :city %><br>
    
    <%= f.label :state %><br>
    <%= f.text_field :state %><br>
    
    <%= f.label :country %><br>
    <%= f.text_field :country %><br>
    
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %><br>

    <%= f.label :neighborhood %><br>
    <%= collection_select(:restaurant, :neighborhood_id, Neighborhood.all, :id, :name, include_blank: true) %><br>

    <%= f.label :category %><br>
    <%= collection_check_boxes(:restaurant, :category_ids, Category.all, :id, :name) %>

  </p>    
    <%= f.submit %>

<% end %>