<p><%= link_to "Return to list", restaurants_path %></p>
<h1><%= @restaurant.name %></h1>
<%= @restaurant.street %><br>
<%= @restaurant.city %><br>
<%= @restaurant.state %><br>
<%= @restaurant.country %><br>
<%= @restaurant.postal_code %><br>
<p><%= link_to "Edit", edit_restaurant_path(@restaurant) %></p>
<p><%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure?" } %></p>